//this is a comment
//there are only 3 types of selectors
//#id
//.class
//tag
//currently you cannot combine selectors, and you cannot have multiple selectors
//currently specificity is not a thing

title{
    //currently supported colors:
    //31m-39m
    //#xxx
    //#xxxxxx
    color: 31m;
}

.upper:first-child{
    text-case: upper;
}

a:last-child{
    text-case: upper;
    color: white;
}
