//this is a comment
//there are only 3 types of selectors
//#id
//.class
//tag
//currently you cannot combine selectors, and you cannot have multiple selectors
//currently specificity is not a thing

title::before{
    //currently supported colors:
    //31m-39m
    //#xxx
    //#xxxxxx
    color: 31m;
}

title{
    pre-text: hi;
    color: 33m;
    post-text:"        hi";
    whitespace: pre;
}

title::after{
    whitespace: pre;
    color: 33m;
}

.upper:first-instance{
    text-case: upper;
}

p:no-inherit{
    x: center;
}

a{
    text-case: upper;
    color: white;
}

uli{
    pre-text:"+ ";
}
